[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/risotto-fork"]
	path = themes/risotto-fork
	url = git@github.com:argo-pig/risotto-fork.git
